@import 'tailwindcss';

@theme {
  --font-sans: 'Roboto', sans-serif;
  --font-heading: 'Nunito', sans-serif;
  --color-neutral-100: #6b6b6c;
  --color-primary: #7d035d;
  --color-secondary: #f8bc0d;
  --color-salmon: #fc4259;
  --color-accent: #00d6db;
  --text-heading-big: 3.125rem;
  --text-heading-big--line-height: 1;
  --text-heading-medium: 2.5rem;
  --text-heading-medium--line-height: 1;
  --text-heading-small: 1.5rem;
  --text-heading-small--line-height: 1;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

.linear-bg {
  @apply bg-linear-to-b from-[#f6f6f6] to-[#f9f9f9];
}


body{
    background-color: #000000;
    color: white;
}


.action-buttons button {
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 15px;
    transition: background-color 0.2s;
}

.carousel-row {
    padding-left: 0.5rem;
    overflow-x: scroll;
    scrollbar-width: none; 
}

.carousel-row::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    background: black;
    border-radius: 10px;
    height: 100%;
    padding-bottom: 10px;
    width: 250px; 
    margin-right: 10px; 
    position: relative; 
    flex-shrink: 0; 
    cursor: pointer;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    overflow: hidden; 
    border: 1px solid #141414;
}

.carousel-wrapper {

    width: 250px; 
    height: 350px;
    margin-right: 10px;
    overflow: hidden; 
    
    position: relative; 
    cursor: pointer;
}

.carousel-wrapper-all {

    width: 100%; 
    height: 350px;
    margin-right: 10px;
    overflow: hidden; 
    
    position: relative; 
    cursor: pointer;
}

.carousel-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.4s ease-in-out; 
}

.carousel-wrapper:hover img {
    transform: scale(1.15); 
    
}

.carousel-details{
    display: flex;
}

.xxl\:grid-cols-6 {
    @media (width >= 97rem) {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}

.xxl\:grid-cols-7 {
    @media (width >= 113rem) {
        grid-template-columns: repeat(7, minmax(0, 1fr));
    }
}