@import 'tailwindcss';

@theme {
  --font-sans: 'Roboto', sans-serif;
  --font-heading: 'Nunito', sans-serif;
  --color-neutral-100: #6b6b6c;
  --color-primary: #7d035d;
  --color-secondary: #f8bc0d;
  --color-salmon: #fc4259;
  --color-accent: #00d6db;
  --text-heading-big: 3.125rem;
  --text-heading-big--line-height: 1;
  --text-heading-medium: 2.5rem;
  --text-heading-medium--line-height: 1;
  --text-heading-small: 1.5rem;
  --text-heading-small--line-height: 1;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

.linear-bg {
  @apply bg-linear-to-b from-[#f6f6f6] to-[#f9f9f9];
}


body{
    background-color: #000000;
    color: white;
}

.hero {
    width: 100%; 
    height: 80vh; 
    background-size: cover;
    background-position: center top; 
    background-repeat: no-repeat;
    position: relative; 
    background-color: #141414;
    margin-bottom: 20px; 
}
.hero-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 50px 80px 50px; 
    max-width: 600px; 
    color: white;
}

.movie-title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.movie-overview {
    font-size: 1.2rem;
    line-height: 1.4;
    max-width: 90%;
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.action-buttons button {
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 15px;
    transition: background-color 0.2s;
}

.carousel-row {
    padding-left: 0.5rem;
    overflow-x: scroll;
    scrollbar-width: none; 
}

.carousel-row::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    background: #1d1d1d;
    border-radius: 10px;
    height: 100%;
    padding-bottom: 10px;
    width: 250px; 
    margin-right: 10px; 
    position: relative; 
    flex-shrink: 0; 
    cursor: pointer;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    overflow: hidden; 
}

.carousel-item-all {
    background: #1d1d1d;
    border-radius: 10px;
    height: auto;
    padding-bottom: 10px;
    width: 100%; 
    margin-right: 10px; 
    position: relative; 
    flex-shrink: 0; 
    cursor: pointer;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    overflow: hidden; 
}

.carousel-wrapper {

    width: 250px; 
    height: 350px;
    margin-right: 10px;
    overflow: hidden; 
    
    position: relative; 
    cursor: pointer;
}

.carousel-wrapper-all {

    width: 100%; 
    height: auto;
    margin-right: 10px;
    overflow: hidden; 
    
    position: relative; 
    cursor: pointer;
}

.carousel-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.4s ease-in-out; 
}

.carousel-wrapper:hover img {
    transform: scale(1.15); 
    
}

.carousel-details{
    display: flex;
}

.xxl\:grid-cols-7 {
    @media (width >= 90rem) {
        grid-template-columns: repeat(7, minmax(0, 1fr));
    }
}

.xxl\:grid-cols-8 {
    @media (width >= 100rem) {
        grid-template-columns: repeat(8, minmax(0, 1fr));
    }
}